<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>MadLiar</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="360" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="{{ page.get('description') }}">
    <meta name="author" content="{{ page.get('description') }}">

    <link rel="icon" href="/static/img/favicon.png">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/animate.min.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/blog/css/style.css" />
</head>

<body>
    <div id="page-footer" class="copyright center">
        <p><span>© 2014-2017 MadLiar</span>&nbsp|&nbsp&nbsp<span>MadLiar freamwork powered.</span></p>
    </div>
    <div class="menu clearfix">
        <div class="menu-inner clearfix">
            <div class="clearfix logo">MADL!AR</div>
            <div class="clearfix right-menu">
                <ul class="clearfix navi">
                    <li><a id="home-view" class="current" href="#">首页</a></li>
                    <li><a id="category-view" href="#">记录</a></li>
                    <li><a id="about-view" href="#">关于</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="motto center">
        <div id="madliar-title" class="big">
            <h2 class="inner-title">MADL!AR</h2>
            <span id="loading-points"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></span>
        </div>
    </div>
    <section class="clearfix page">
        <div id="home-sub-page" style="display: none"></div>
        <div id="detail-sub-page" style="display: none">

        </div>
        <div id="about-sub-page" style="display: none">
            <img class="head-background-img" src="/static/img/head-bg.jpg">
            <div id="head-img-container">
                <img class="head-img" src="/static/img/head.jpg">
            </div>
            <h4>疯人&nbsp·&nbspCL</h4>
            <div id="about-text">
                <h2>关于&nbsp·&nbspMADL!AR</h2>
                <p>博主CL，编程爱好者，目前在西安高新区做服务器端的软件开发。“madlair”意为“疯子”、“谎言者”，略含贬义，但它挺适合这个博客的：博文大多只是我个人肤浅的观点，偶尔有些粗浅的学习笔记。博文质量不高，如果你有任何建议或吐槽，欢迎请给我留言或发邮件：i@caoliang.net。</p>
                <br />
                <h2>优秀博客推荐：</h2>
                <ul>
                    <li><a target="_blank" href="http://wangyu.name/">即刻出发</a></li>
                    <li><a target="_blank" href="http://dkjiaoyang.com/">易冷天涯</a></li>
                    <li><a target="_blank" href="http://blog.vinlic.com/">vinlic.com</a></li>
                    <li><a target="_blank" href="https://alexlee.cn/">聪头话斋</a></li>
                </ul>
            </div>
        </div>
    </section>
    <div id="mask"></div>
    <div id="hidden-area"></div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.shuffleLetters.js"></script>
    <script type="text/javascript" src="/static/js/marked.js"></script>
    <script src="{{ article_js }}"></script>
    <script src="/static/blog/js/mHdwTj0ItvA57e3a9B.js"></script>
</body>
</html>
