body{
  max-width: 1000px;
}
h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.share-container{
  padding: 20px;
}
.al_meta{
  margin: 0px;
  float: none;
}
.post-content {
  padding: 0px;
}
.post-content hr{
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}
#main-title{
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
}
.post-content h2,.comment-content h2{
  font-size: 30px;
}
@media screen and (min-width:500px){
  .share-container{
    border: 1px solid #dcdcdc;
    margin-top: 30px;
    padding: 40px 50px 50px 50px;
    box-shadow: 3px 3px 10px 2px rgba(218, 218, 218, 0.5);
  }
}
