body{
    width: 90% !important;
    min-width: 0px !important;
}
textarea, input{
    resize: none;
    line-height: 1.6em;
}
hr{
    margin-top: 15px;
    margin-bottom: 15px;
}
.bottom-button{
     margin-top: 0 !important;
     max-width: 130px !important;
}
input::-ms-input-placeholder{text-align: center;}
input::-webkit-input-placeholder{text-align: center;}
.redinput{
    border-radius: 0px !important;
    border: 0 solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
    width: 40% !important;
}
.article-title-list{
    cursor: pointer;
}
.article-title{
    line-height: 1.5em;
}
.article-title:hover{
    background-color: #ccc;
}
#submit-btn{
}
#input-area{
    float: left;
    width: 49%;
    border-right: 1px solid #ccc;
    padding-right: 1%;
    margin: 0;
}
#content-area{
    float: right;
    margin: 0;
    width: 47%;
    overflow: scroll;
    overflow-x: hidden;
    padding-right: 1%;
    padding-left: 1%;
    text-align: justify;
    line-height: 1.6em;
}
#go-home{
    padding: 15px;
}
#chjj-marked{
    float: right;
    text-align: left;
    width: 100%;
    margin-top: 25px;
    font-size: 12px;
    padding-bottom: 15px;
    color: #ddd;
}
#content-border{
}
#modal-content{
    word-break: break-all;
    white-space: pre-wrap;
    text-align: center;
}
#more-reg-form{
    padding-top: 20px;
    text-align: center;
}
#image-list{
    display: none;
}
.image-title-list{
    width: 100px;
    height: 70px;
    border: 1px solid #ccc;
    padding: 2px;
    cursor: pointer;
    opacity: 0.6;
    margin: 5px;
    display: inline;
}
.image-title-list:hover{
    opacity: 1;
}
.modal-content{
    margin-top: 20% !important;
}
#copy_text{
    display: none;
}
.left-nav{
    float:left;
}
.right-nav{
    float:right;
}
.share-btn{
    float:right; 
    cursor: pointer;  
}