html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body{
    margin: auto;
    color: #444;
    font-family: "Microsoft YaHei UI", "WenQuanYi Micro Hei", SimSun, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    outline: none;
}
a{
    color: #3F3F3F;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all 0.3s ease-out;
    outline: none;
}
a:hover{
    border-bottom: 1px solid #777;
}
a:focus, a:hover{
    text-decoration: none !important;
}
input{
    border: none;
    border-bottom: 1px solid #888;
    line-height: 1.7em;
    text-align: left;
    padding-left: 10px;
    outline: none;
}
.modal-content{
    border-radius: 0;
}
.left-nav{
    display: block;
    float: left;
    width: 400px;
}
.right-nav{
    display: block;
    float: right;
    margin-right: 15px;
}
.button{
    border: none;
    background: #ccc;
    padding: 6px 12px;
    margin-top: 15px;
    outline: none;
    transition: all 0.3s ease-out;
}
.button:hover{
    background: #333;
    color: whitesmoke;
}
.user-name{
    margin-right: 20px;
}
.modal-header h4{
    margin:auto;
    text-align: center;
}
.cl-prompt{
    width: 500px;
    position: fixed;
    top: 0;
    box-shadow: 3px 5px 18px 3px rgba(0, 0, 0, 0.15);
    background: #fff;
    margin-left: calc(50% - 250px);
    border: 1px solid #eee;
    padding: 15px;
    opacity: 0;
    transition: top 0.3s linear 0s, opacity 0.1s;
}
.cl-prompt-close{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 22px;
    background: #dfdfdf;
    font-size: 16px;
    padding-left: 6px;
    color: black;
    border-radius: 12px;
    cursor: pointer;
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
}
.cl-prompt-close:hover{
    color: white;
    background: #555;
}
.hidden-area{
    display: none;
}
#nav{
    height: 50px;
    border-bottom: 1px solid #ccc;
    line-height: 50px;
    padding-left: 30px;
}
#input-area textarea{
    height: 100%;
    width: 100%;
    border: none;
    resize: none;
    line-height: 1.6em;
    outline: none;
    padding: 30px;
}
#content-area{
    background: white;
    float: left;
    height: calc(100% - 20px);
    width: calc(50% - 70px);
    overflow: hidden;
    margin: 22px 20px 0 0;
    padding: 20px 5px 20px 10px;
    word-wrap: break-word;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.15);
}
#content-text{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0 20px;
}
#uavaliable-mask{
    display: none;
    text-align: center;
    padding-top: 50%;
}
#upload-file-form{
    display: none;
}
#folder-tree{
    display: block;
    height: fit-content;
    float: left;
    overflow: auto;
    margin: 20px 10px 0 0;
}
#input-area{
    float: left;
    width: 50%;
    margin: 22px 20px 0 0;
    height: calc(100% - 20px);
    box-shadow: -4px 5px 20px 7px rgba(0, 0, 0, 0.15);
}
#nav a{
    margin-right: 15px;
}
#content{
    background-color: #f3f3f3;
    height: calc(100% - 51px);
    overflow: hidden;
}
#sub-content{
    float: right;
    height: calc(100% - 20px);
}
@media (max-width: 9999px) {
    #folder-tree {
        width: 220px;
    }
    #sub-content{
        width: calc(100% - 230px);
    }
}
@media (max-width: 900px) {
    #folder-tree {
        width: 130px;
    }
    #sub-content{
        width: calc(100% - 140px);
    }
}
@media (max-width: 600px) {
    #folder-tree {
        width: 0;
    }
}